<% include ../layouts/header %>
<div>
    <div>
	    <form action="/user/pay" method="post" name="userform">		    		    
		    <div>
			    <label>Payment Amount</label>
			    <span>
			      <input type="text" name="amount" value="" required/>			   
			    </span>
		    </div>
		   
		    <div>
			    <label>Currency</label>
			    <span>
			        <select name="currency" id="currency">
				        <option value="EUR">EUR</option>
				    </select>
			    </span>
		    </div>
		   
		    <div>
			    <label>Invoice No</label>
			    <span>
				  <input type="text" name="invoice" value=""/>				  
			    </span>
		    </div>		   		   		  
		    <input type="submit"  value="Submit"/>
	    </form>
	</div>
</div>
<% include ../layouts/footer %>
